body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u912_div {
=======
#u947_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:788px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u912 {
=======
#u947 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:788px;
  display:flex;
}
<<<<<<< HEAD
#u912 .text {
=======
#u947 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u912_text {
=======
#u947_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u913_img {
=======
#u948_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
<<<<<<< HEAD
#u913 {
=======
#u948 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:375px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u913 .text {
=======
#u948 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u913_text {
=======
#u948_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u914 {
=======
#u949 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u915_img {
=======
#u950_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
<<<<<<< HEAD
#u915 {
=======
#u950 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:25px;
  width:9px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u915 .text {
=======
#u950 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u915_text {
=======
#u950_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u916_div {
=======
#u951_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u916 {
=======
#u951 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:42px;
  top:20px;
  width:192px;
  height:22px;
  display:flex;
  font-size:16px;
}
<<<<<<< HEAD
#u916 .text {
=======
#u951 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u916_text {
=======
#u951_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u917_div {
=======
#u952_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:516px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u917 {
=======
#u952 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:9px;
  top:241px;
  width:357px;
  height:516px;
  display:flex;
}
<<<<<<< HEAD
#u917 .text {
=======
#u952 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u917_text {
=======
#u952_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u918_img {
=======
#u953_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:157px;
}
<<<<<<< HEAD
#u918 {
=======
#u953 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:9px;
  top:66px;
  width:357px;
  height:157px;
  display:flex;
}
<<<<<<< HEAD
#u918 .text {
=======
#u953 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u918_text {
=======
#u953_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u919_div {
=======
#u954_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u919 {
=======
#u954 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:341px;
  width:333px;
  height:72px;
  display:flex;
}
<<<<<<< HEAD
#u919 .text {
=======
#u954 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u919_text {
=======
#u954_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u920_div {
=======
#u955_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u920 {
=======
#u955 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:420px;
  width:333px;
  height:72px;
  display:flex;
}
<<<<<<< HEAD
#u920 .text {
=======
#u955 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u920_text {
=======
#u955_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u921_div {
=======
#u956_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u921 {
=======
#u956 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:259px;
  width:333px;
  height:72px;
  display:flex;
}
<<<<<<< HEAD
#u921 .text {
=======
#u956 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u921_text {
=======
#u956_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u922_div {
=======
#u957_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
#u922 {
=======
#u957 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:77px;
  top:124px;
  width:289px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
#u922 .text {
=======
#u957 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u922_text {
=======
#u957_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
