body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:684px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1544_div {
=======
#u1595_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1576_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:761px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1544 {
=======
#u1595 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1576 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:761px;
  display:flex;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1544 .text {
=======
#u1595 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1576 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1544_text {
=======
#u1595_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1576_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1545_div {
=======
#u1596_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1577_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1545 {
=======
#u1596 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1577 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:375px;
  height:618px;
  display:flex;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1545 .text {
=======
#u1596 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1577 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1545_text {
=======
#u1596_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1577_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1546_div {
=======
#u1597_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1578_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1546 {
=======
#u1597 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1578 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  display:flex;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1546 .text {
=======
=======
#u1578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:156px;
  width:28px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1580_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1580.selected {
}
#u1580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
#u1581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1581_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1581.selected {
}
#u1581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:156px;
  width:42px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1583_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1583.selected {
}
#u1583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
#u1584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1584_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584.selected {
}
#u1584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:156px;
  width:42px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1586_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1586.selected {
}
#u1586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
#u1587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1587_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587.selected {
}
#u1587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:20px;
  width:9px;
  height:14px;
  display:flex;
}
#u1589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:15px;
  width:64px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u1590 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:15px;
  width:18px;
  height:17px;
  display:flex;
}
#u1591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:156px;
  width:28px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1593 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1593_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
#u1593.selected {
}
#u1593_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
#u1594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1594_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1594.selected {
}
#u1594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1595_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1595_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:69px;
  width:115px;
  height:25px;
  display:flex;
}
#u1595 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1595_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1595.disabled {
}
.u1595_input_option {
}
#u1596_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1596_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:69px;
  width:115px;
  height:25px;
  display:flex;
}
#u1596 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1596_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1596.disabled {
}
.u1596_input_option {
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:106px;
  width:70px;
  height:25px;
  display:flex;
}
>>>>>>> parent of 98a0a18 (V1.3)
#u1597 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1546_text {
=======
#u1597_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1547 {
=======
#u1598 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
<<<<<<< HEAD
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1548_div {
=======
#u1599_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1548 {
=======
#u1599 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:20px;
  top:156px;
  width:28px;
  height:19px;
  display:flex;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1548 .text {
=======
#u1599 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1548_div.selected {
=======
#u1599_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1548.selected {
}
#u1548_text {
=======
#u1599.selected {
}
#u1599_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1549_div {
=======
#u1600_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1549 {
=======
#u1600 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:28px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
<<<<<<< HEAD
#u1549 .text {
=======
#u1600 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1549_div.selected {
=======
#u1600_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1549.selected {
}
#u1549_text {
=======
#u1600.selected {
}
#u1600_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1550 {
=======
#u1601 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1551_div {
=======
#u1602_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1551 {
=======
#u1602 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:86px;
  top:156px;
  width:42px;
  height:19px;
  display:flex;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1551 .text {
=======
#u1602 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1551_div.selected {
=======
#u1602_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1551.selected {
}
#u1551_text {
=======
#u1602.selected {
}
#u1602_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1552_div {
=======
#u1603_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1552 {
=======
#u1603 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:101px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
<<<<<<< HEAD
#u1552 .text {
=======
#u1603 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1552_div.selected {
=======
#u1603_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1552.selected {
}
#u1552_text {
=======
#u1603.selected {
}
#u1603_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1553 {
=======
#u1604 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1554_div {
=======
#u1605_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1554 {
=======
#u1605 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:163px;
  top:156px;
  width:42px;
  height:19px;
  display:flex;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1554 .text {
=======
#u1605 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1554_div.selected {
=======
#u1605_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1554.selected {
}
#u1554_text {
=======
#u1605.selected {
}
#u1605_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1555_div {
=======
#u1606_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1555 {
=======
#u1606 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:178px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
<<<<<<< HEAD
#u1555 .text {
=======
#u1606 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1555_div.selected {
=======
#u1606_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1555.selected {
}
#u1555_text {
=======
#u1606.selected {
}
#u1606_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1556 {
=======
#u1607 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1557_img {
=======
#u1608_img {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
<<<<<<< HEAD
#u1557 {
=======
#u1608 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:21px;
  top:20px;
  width:9px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u1557 .text {
=======
#u1608 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1557_text {
=======
#u1608_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1558_div {
=======
#u1609_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u1558 {
=======
#u1609 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:42px;
  top:15px;
  width:64px;
  height:22px;
  display:flex;
  font-size:16px;
}
<<<<<<< HEAD
#u1558 .text {
=======
#u1609 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1558_text {
=======
#u1609_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1559_img {
=======
#u1610_img {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
<<<<<<< HEAD
#u1559 {
=======
#u1610 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:337px;
  top:15px;
  width:18px;
  height:17px;
  display:flex;
}
<<<<<<< HEAD
#u1559 .text {
=======
#u1610 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1559_text {
=======
#u1610_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1560 {
=======
#u1611 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1561_div {
=======
#u1612_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1561 {
=======
#u1612 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:240px;
  top:156px;
  width:28px;
  height:19px;
  display:flex;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1561 .text {
=======
#u1612 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1561_div.selected {
=======
#u1612_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
=======
  font-family:"PingFang SC", sans-serif;
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  font-weight:400;
  font-style:normal;
  color:#CECECE;
}
<<<<<<< HEAD
#u1561.selected {
}
#u1561_text {
=======
#u1612.selected {
}
#u1612_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1562_div {
=======
#u1613_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1562 {
=======
#u1613 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:255px;
  top:181px;
  width:14px;
  height:3px;
  display:flex;
}
<<<<<<< HEAD
#u1562 .text {
=======
#u1613 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1562_div.selected {
=======
#u1613_div.selected {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1562.selected {
}
#u1562_text {
=======
#u1613.selected {
}
#u1613_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1563_input {
=======
#u1614_input {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1563_input.disabled {
=======
#u1614_input.disabled {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1563_div {
=======
#u1614_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1563 {
=======
#u1614 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:14px;
  top:69px;
  width:115px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u1563 .text {
=======
#u1614 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1563_div.disabled {
=======
#u1614_div.disabled {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1563.disabled {
}
.u1563_input_option {
}
#u1564_input {
=======
#u1614.disabled {
}
.u1614_input_option {
}
#u1615_input {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1564_input.disabled {
=======
#u1615_input.disabled {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1564_div {
=======
#u1615_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1564 {
=======
#u1615 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:149px;
  top:69px;
  width:115px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u1564 .text {
=======
#u1615 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1564_div.disabled {
=======
#u1615_div.disabled {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1564.disabled {
}
.u1564_input_option {
}
#u1565_div {
=======
#u1615.disabled {
}
.u1615_input_option {
}
#u1616_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1565 {
=======
#u1616 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:14px;
  top:106px;
  width:70px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u1565 .text {
=======
#u1616 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1565_text {
=======
#u1616_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1566_div {
=======
#u1617_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1566 {
=======
#u1617 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
  border-width:0px;
  position:absolute;
=======
>>>>>>> parent of 98a0a18 (V1.3)
  left:98px;
  top:106px;
  width:70px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1566 .text {
=======
#u1617 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1598 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1566_text {
=======
#u1617_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1598_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1567_div {
=======
#u1618_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1599_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1567 {
=======
#u1618 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1599 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:400px;
  top:82px;
  width:271px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1567 .text {
=======
#u1618 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1599 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1567_text {
=======
#u1618_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1599_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1568_div {
=======
#u1619_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1600_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1568 {
=======
#u1619 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1600 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:400px;
  top:161px;
  width:271px;
  height:21px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1568 .text {
=======
#u1619 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1600 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1568_text {
=======
#u1619_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1600_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1569_div {
=======
#u1620_div {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1601_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1569 {
=======
#u1620 {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1601 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:98px;
  top:793px;
  width:586px;
  height:56px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1569 .text {
=======
#u1620 .text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1601 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
#u1569_text {
=======
#u1620_text {
>>>>>>> parent of 20e5000 (Merge branch 'main' of https://github.com/Qilaoye/sjdhfgsdh)
=======
#u1601_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
