body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1423_div {
=======
#u1455_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1423 {
=======
#u1455 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:733px;
  display:flex;
}
<<<<<<< HEAD
#u1423 .text {
=======
#u1455 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1423_text {
=======
#u1455_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1424_img {
=======
#u1456_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
<<<<<<< HEAD
#u1424 {
=======
#u1456 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u1424 .text {
=======
#u1456 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1424_text {
=======
#u1456_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1425_div {
=======
#u1457_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1425 {
=======
#u1457 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:65px;
  top:68px;
  width:101px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1425 .text {
=======
#u1457 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1425_text {
=======
#u1457_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1426_div {
=======
#u1458_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1426 {
=======
#u1458 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:65px;
  top:116px;
  width:101px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1426 .text {
=======
#u1458 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1426_text {
=======
#u1458_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1427_div {
=======
#u1459_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1427 {
=======
#u1459 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:65px;
  top:167px;
  width:101px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1427 .text {
=======
#u1459 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1427_text {
=======
#u1459_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1428_img {
=======
#u1460_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u1428 {
=======
#u1460 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:36px;
  top:116px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u1428 .text {
=======
#u1460 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1428_text {
=======
#u1460_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1429_img {
=======
#u1461_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u1429 {
=======
#u1461 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:36px;
  top:167px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u1429 .text {
=======
#u1461 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1429_text {
=======
#u1461_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1430_img {
=======
#u1462_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u1430 {
=======
#u1462 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:36px;
  top:68px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u1430 .text {
=======
#u1462 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1430_text {
=======
#u1462_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1431_img {
=======
#u1463_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
<<<<<<< HEAD
#u1431 {
=======
#u1463 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:102px;
  width:333px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u1431 .text {
=======
#u1463 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1431_text {
=======
#u1463_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1432_img {
=======
#u1464_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
<<<<<<< HEAD
#u1432 {
=======
#u1464 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:150px;
  width:333px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u1432 .text {
=======
#u1464 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1432_text {
=======
#u1464_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1433 {
=======
#u1465 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1434_img {
=======
#u1466_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
<<<<<<< HEAD
#u1434 {
=======
#u1466 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:20px;
  width:10px;
  height:14px;
  display:flex;
}
<<<<<<< HEAD
#u1434 .text {
=======
#u1466 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1434_text {
=======
#u1466_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1435_div {
=======
#u1467_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u1435 {
=======
#u1467 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:45px;
  top:15px;
  width:85px;
  height:22px;
  display:flex;
  font-size:16px;
}
<<<<<<< HEAD
#u1435 .text {
=======
#u1467 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1435_text {
=======
#u1467_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1436_div {
=======
#u1468_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
<<<<<<< HEAD
#u1436 {
=======
#u1468 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:26px;
  top:281px;
  width:328px;
  height:40px;
  display:flex;
  color:#7F7F7F;
}
<<<<<<< HEAD
#u1436 .text {
=======
#u1468 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1436_text {
=======
#u1468_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1437_div {
=======
#u1469_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1437 {
=======
#u1469 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:65px;
  top:220px;
  width:101px;
  height:21px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1437 .text {
=======
#u1469 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1437_text {
=======
#u1469_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1438_img {
=======
#u1470_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
<<<<<<< HEAD
#u1438 {
=======
#u1470 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:36px;
  top:220px;
  width:20px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u1438 .text {
=======
#u1470 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1438_text {
=======
#u1470_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1439_img {
=======
#u1471_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
<<<<<<< HEAD
#u1439 {
=======
#u1471 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:21px;
  top:203px;
  width:333px;
  height:1px;
  display:flex;
}
<<<<<<< HEAD
#u1439 .text {
=======
#u1471 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1439_text {
=======
#u1471_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
