body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-612px;
  width:440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1762_div {
=======
#u1794_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 20px 60px rgba(5, 26, 81, 0.11764705882352941);
  -webkit-box-shadow:0px 20px 60px rgba(5, 26, 81, 0.11764705882352941);
  box-shadow:0px 20px 60px rgba(5, 26, 81, 0.11764705882352941);
}
<<<<<<< HEAD
#u1762 {
=======
#u1794 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:612px;
  top:264px;
  width:440px;
  height:560px;
  display:flex;
}
<<<<<<< HEAD
#u1762 .text {
=======
#u1794 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1762_text {
=======
#u1794_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1763_div {
=======
#u1795_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
}
<<<<<<< HEAD
#u1763 {
=======
#u1795 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:797px;
  top:395px;
  width:69px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
}
<<<<<<< HEAD
#u1763 .text {
=======
#u1795 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1763_text {
=======
#u1795_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1764_div {
=======
#u1796_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
<<<<<<< HEAD
#u1764 {
=======
#u1796 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:725px;
  top:442px;
  width:192px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
<<<<<<< HEAD
#u1764 .text {
=======
#u1796 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1764_text {
=======
#u1796_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1765_div {
=======
#u1797_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
<<<<<<< HEAD
#u1765 {
=======
#u1797 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:762px;
  top:743px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
<<<<<<< HEAD
#u1765 .text {
=======
#u1797 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1765_text {
=======
#u1797_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1766 {
=======
#u1798 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1767_div {
=======
#u1799_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1767 {
=======
#u1799 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:665px;
  top:511px;
  width:335px;
  height:44px;
  display:flex;
}
<<<<<<< HEAD
#u1767 .text {
=======
#u1799 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1767_div.selected {
=======
#u1799_div.selected {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 119, 242, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1767.selected {
}
#u1767_text {
=======
#u1799.selected {
}
#u1799_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1768_input {
=======
#u1800_input {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#1E1E1E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1768_input.hint {
=======
#u1800_input.hint {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1768_input.disabled {
=======
#u1800_input.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#1E1E1E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1768_input.hint.disabled {
=======
#u1800_input.hint.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1768_div {
=======
#u1800_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1768 {
=======
#u1800 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:705px;
  top:521px;
  width:169px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1768 .text {
=======
#u1800 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1768_div.hint {
=======
#u1800_div.hint {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1768.hint {
}
#u1768_div.disabled {
=======
#u1800.hint {
}
#u1800_div.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1768.disabled {
}
#u1768_div.hint.disabled {
=======
#u1800.disabled {
}
#u1800_div.hint.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1768.hint.disabled {
}
#u1769_img {
=======
#u1800.hint.disabled {
}
#u1801_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
<<<<<<< HEAD
#u1769 {
=======
#u1801 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:968px;
  top:526px;
  width:15px;
  height:15px;
  display:flex;
}
<<<<<<< HEAD
#u1769 .text {
=======
#u1801 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1769_text {
=======
#u1801_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1770_img {
=======
#u1802_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
<<<<<<< HEAD
#u1770 {
=======
#u1802 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:681px;
  top:524px;
  width:16px;
  height:18px;
  display:flex;
}
<<<<<<< HEAD
#u1770 .text {
=======
#u1802 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1770_img.selected {
}
#u1770.selected {
}
#u1770_text {
=======
#u1802_img.selected {
}
#u1802.selected {
}
#u1802_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1771 {
=======
#u1803 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1772_div {
=======
#u1804_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1772 {
=======
#u1804 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:665px;
  top:574px;
  width:335px;
  height:44px;
  display:flex;
}
<<<<<<< HEAD
#u1772 .text {
=======
#u1804 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1772_div.selected {
=======
#u1804_div.selected {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(37, 97, 239, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1772.selected {
}
#u1772_text {
=======
#u1804.selected {
}
#u1804_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1773_input {
=======
#u1805_input {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#1E1E1E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1773_input.hint {
=======
#u1805_input.hint {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1773_input.disabled {
=======
#u1805_input.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#1E1E1E;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1773_input.hint.disabled {
=======
#u1805_input.hint.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1773_div {
=======
#u1805_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1773 {
=======
#u1805 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:705px;
  top:584px;
  width:198px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1773 .text {
=======
#u1805 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1773_div.hint {
=======
#u1805_div.hint {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1773.hint {
}
#u1773_div.disabled {
=======
#u1805.hint {
}
#u1805_div.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1773.disabled {
}
#u1773_div.hint.disabled {
=======
#u1805.disabled {
}
#u1805_div.hint.disabled {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1773.hint.disabled {
}
#u1774_img {
=======
#u1805.hint.disabled {
}
#u1806_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
<<<<<<< HEAD
#u1774 {
=======
#u1806 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:968px;
  top:589px;
  width:15px;
  height:15px;
  display:flex;
}
<<<<<<< HEAD
#u1774 .text {
=======
#u1806 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1774_text {
=======
#u1806_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1775_img {
=======
#u1807_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
<<<<<<< HEAD
#u1775 {
=======
#u1807 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:681px;
  top:587px;
  width:16px;
  height:18px;
  display:flex;
}
<<<<<<< HEAD
#u1775 .text {
=======
#u1807 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1775_img.selected {
}
#u1775.selected {
}
#u1775_text {
=======
#u1807_img.selected {
}
#u1807.selected {
}
#u1807_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1776_div {
=======
#u1808_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 5px 30px rgba(41, 132, 248, 0.2980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(41, 132, 248, 0.2980392156862745);
  box-shadow:0px 5px 30px rgba(41, 132, 248, 0.2980392156862745);
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1776 {
=======
#u1808 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:665px;
  top:683px;
  width:335px;
  height:44px;
  display:flex;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1776 .text {
=======
#u1808 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1776_div.mouseDown {
=======
#u1808_div.mouseDown {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(37, 97, 239, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1776.mouseDown {
}
#u1776_div.selected {
=======
#u1808.mouseDown {
}
#u1808_div.selected {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 5px 30px rgba(41, 132, 248, 0.2980392156862745);
  -webkit-box-shadow:0px 5px 30px rgba(41, 132, 248, 0.2980392156862745);
  box-shadow:0px 5px 30px rgba(41, 132, 248, 0.2980392156862745);
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1776.selected {
}
#u1776_div.mouseDown.selected {
=======
#u1808.selected {
}
#u1808_div.mouseDown.selected {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1776.mouseDown.selected {
}
#u1776_text {
=======
#u1808.mouseDown.selected {
}
#u1808_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1777 {
=======
#u1809 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1778 {
=======
#u1810 {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  left:665px;
  top:651px;
}
<<<<<<< HEAD
#u1778_state0 {
=======
#u1810_state0 {
>>>>>>> parent of 98a0a18 (V1.3)
  position:relative;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1778_state0_content {
=======
#u1810_state0_content {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u1779_img {
=======
#u1811_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
<<<<<<< HEAD
#u1779 {
=======
#u1811 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
<<<<<<< HEAD
#u1779 .text {
=======
#u1811 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1779_text {
=======
#u1811_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1778_state1 {
=======
#u1810_state1 {
>>>>>>> parent of 98a0a18 (V1.3)
  position:relative;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1778_state1_content {
=======
#u1810_state1_content {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u1780_img {
=======
#u1812_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
<<<<<<< HEAD
#u1780 {
=======
#u1812 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
<<<<<<< HEAD
#u1780 .text {
=======
#u1812 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1780_text {
=======
#u1812_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1781_div {
=======
#u1813_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
<<<<<<< HEAD
#u1781 {
=======
#u1813 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:691px;
  top:649px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(153, 153, 153, 0.9882352941176471);
}
<<<<<<< HEAD
#u1781 .text {
=======
#u1813 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1781_text {
=======
#u1813_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1782 {
=======
#u1814 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1783_div {
=======
#u1815_div {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:48px;
  -moz-box-shadow:0px 0px 20px rgba(5, 26, 81, 0.12156862745098039);
  -webkit-box-shadow:0px 0px 20px rgba(5, 26, 81, 0.12156862745098039);
  box-shadow:0px 0px 20px rgba(5, 26, 81, 0.12156862745098039);
}
<<<<<<< HEAD
#u1783 {
=======
#u1815 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:797px;
  top:311px;
  width:64px;
  height:64px;
  display:flex;
}
<<<<<<< HEAD
#u1783 .text {
=======
#u1815 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1783_text {
=======
#u1815_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1784_img {
=======
#u1816_img {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
<<<<<<< HEAD
#u1784 {
=======
#u1816 {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  position:absolute;
  left:817px;
  top:330px;
  width:24px;
  height:27px;
  display:flex;
}
<<<<<<< HEAD
#u1784 .text {
=======
#u1816 .text {
>>>>>>> parent of 98a0a18 (V1.3)
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1784_text {
=======
#u1816_text {
>>>>>>> parent of 98a0a18 (V1.3)
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
